* {
  box-sizing: border-box;
  font-family: Montserrat;
  background-image: url("fotoku.jpg");
}

body {
  margin: 0;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: white;
}

/* Style the topnav links */
.topnav a {
  float: right;
  display: block;
  color: #202020;
  text-align: center;
  padding: 30px 25px;
  text-decoration: none;
  font-weight: 500;
}

/* Change color on hover */
.topnav a:hover {
  background-color: white;
  color:#B6007D;
}


/* Nama */
#natasya n{
  position: absolute;
  left: 80px;
  top: 200px;
  font-weight: 900;
  font-size: 100px;
  color: #B6007D;
  font-family: Montserrat;
}
#elora e{
  position: absolute;
  left: 80px;
  top: 300px;
  font-weight: 900;
  font-size: 100px;
  color: #F5C300;
  font-family: Montserrat;
}
