{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>	
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    
        <!-- Bootstrap CSS -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>Natasya Elora</title>
</head>

<body id="page5" data-spy="scroll" data-target=".navbar" data-offset="50">
    <nav class="navbar navbar-dark bg-transparent fixed-top">
		<a class="navbar-brand" href="{% url 'home'%}">
			<img src="{% static 'img/logo.png' %}" width="45%" alt="logo">
			</a>

	<div class="right-navbar">
		<a class="mx-3" href="{% url 'aboutme' %}">About</a>
		<a class="mx-3" href="{% url 'education' %}">Education</a>
		<a class="mx-3" href="{% url 'experience' %}">Experience</a>
		<a class="mx-3" href="{% url 'portofolio' %}">Portofolio</a>
		<a class="mx-3" href="{% url 'contact' %}">Contact Me</a>
	</div>
	</nav>
	
	<div class="find">	
		<div class="col-md-6 offset-md-3">
    		<h1><b><span id="text-ungu">Find</span> Me On</b></h1>
    	</div>
	</div>
	
	<div class="container contact-html">
		<div class="row">
			<div class="col-5 text-right">
				<div class="email">
					<img src="{% static 'img/email.png' %}" class="rounded ml-auto d-block" alt="email">
				</div>
			</div>
			<div class="col-6 text-left my-auto">
				<p>natnatasyaelora@gmail.com</p>
			</div>
		</div>
		<div class="row">
			<div class="col-5 text-right">
				<div class="twitter">
					<img src="{% static 'img/twitter.png' %}" class="rounded ml-auto d-block" alt="twitter">
				</div>
			</div>
			<div class="col-6 text-left my-auto">
				<p>natasyaelora</p>
			</div>
		</div>
		<div class="row">
			<div class="col-5 text-right">
				<div class="wa">
					<img src="{% static 'img/wassap.png' %}" class="rounded ml-auto d-block" alt="wa">
				</div>
			</div>
			<div class="col-6 text-left my-auto">
				<p>+62 8211 4176 60</p>
			</div>
		</div>
	</div>

</body>