{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>	
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:700&display=swap" rel="stylesheet">
    
		<!-- Bootstrap CSS -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>Natasya Elora</title>
</head>


<body id="page3">
    <nav class="navbar navbar-dark bg-transparent fixed-top">
            <a class="navbar-brand" href="{% url 'home'%}">
                <img src="{% static 'img/logo.png' %}" width="45%" alt="logo">
                </a>

        <div class="right-navbar">
	        <a class="mx-3" href="{% url 'aboutme' %}">About</a>
	        <a class="mx-3" href="{% url 'education' %}">Education</a>
            <a class="mx-3" href="{% url 'experience' %}">Experience</a>
	        <a class="mx-3" href="{% url 'portofolio' %}">Portofolio</a>
            <a class="mx-3" href="{% url 'contact' %}">Contact Me</a>
	    </div>
    </nav>

	<div class="container">
		<div class="row">
    		<div class="col">
      			<h1><b>Edu-<br>cation</b><h1>
    		</div>
   			<div class="col-5">
      			<ul>
				<li> SDI Al-Azhar 17 Bintaro</li>
				<li> SMPN 19 Jakarta</li>
				<li> SMAN 70 Jakarta</li>
				<li> Universitas Indonesia</li>
			</ul>
    		</div>
    		<div class="col">
	    		<img src="{% static 'img/edu.png' %}" alt="edu">
      		</div>
	  </div>
	</div>

</body>

